<<<<<<< HEAD
<%- model_class = @templates.class -%>
=======
<%- model_class = @template.class-%>
>>>>>>> fa4e6561f06ec56a51b55bd63a146cd404ced81e
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial =>'form' %>
